<%- include header %>
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Welcome</h1>
  <p>Hello Dashboard</p>
  <p>
    <a class="btn btn-lg" href="/home/profile" role="button">Profile view »</a>
    <br/>
    <a class="btn btn-lg btn-primary" href="/learning" role="button">Start learning!</a>
  </p>
</div>
<%- include footer %>