<%- include ../header %>
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
    查看单词表
    <br/>
    <label class="radio-inline">
        <input type="radio" name="word_list_type" id="word_list_all" value="all" checked> 所有 </input>
    </label>
    <label class="radio-inline">
        <input type="radio" name="word_list_type" id="word_list_learnt" value="learnt"> 已学过 </input>
    </label>
    <label class="radio-inline">
        <input type="radio" name="word_list_type" id="word_list_known" value="known"> 已掌握 </input>
    </label>
</div>
<%- include ../footer %>